{% extends 'base.html' %}


{% block head %}
<title>TODOer App</title>
{% endblock %}


{% block body %}
<div class="content">
    <h1 style="text-align: center">TODOer App</h1>
    {% if tasks|length < 1 %}
    <h3 style="text-align: center">There are no tasks. Create one below.</h3>
    {% else %}

    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>

        {% for task in tasks %}
        <tr>
            <td>{{ task.content }}</td>
            <td>{{ task.date_created.date() }}</td>
            <td>
                <a href="/delete/{{task.id}}">Delete</a>
                <br>
                <a href=/update/{{task.id}}#">Update</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="task-form">
        <form action="/" method="POST">
            <label for="content" class="input-text">
                <input type="text" id="content" name="content" placeholder="Play bass"
                       minlength="1" pattern=".{1,}" required title="1 character minimum">
                <span class="label"></span>
                <span class="focus-bg"></span>
            </label>

            <button class="button">Add Task</button>
        </form>
    </div>

</div>
{% endblock %}